<%= content_for :title do %>
  Foodlog &ndash;<%= DateTime.now%>
<% end %>

<div class=""colums mt-6 is-centered id="entries">
<% @entries.each do |entry| %>
<div column class="is-one-quater">
<div class="card">
<header class="card-header">
 <p class="card-header-title"><%= entry.meal_type %></p>
</header>
      <div class="card-content">
      <div class="content">
         <%# <p><span class="has-text-weight-bold"></span>calories</p> %>
         <p><span class="has-text-weight-bold"> <%= entry.calories %></span>grams of calories</p>
         <p><span class="has-text-weight-bold"> <%= entry.proteins %></span>grams of proteins</p>
         <p><span class="has-text-weight-bold"> <%= entry.carbohydrates %></span>grams of carbohydrates</p>
         <p><span class="has-text-weight-bold"> <%= entry.fats %></span>grams of fat</p>
         <p class="italic">Logged <%= time_ago_in_words(entry.created_at) %></p>
      </div>
  </div>
  
    <%# <%= render entry %> 
    <div class="card-footer">
      <%= link_to "Show this entry", entry, class: "card-footer-item"%>
      <%= link_to "New entry", new_entry_path(entry), class: "card-footer-item" %>
      <%= link_to "Destroy this entry", entry, method: :delete, data: { confirm: "Are you sure?" }, class:"card-footer-item" %>
    </div>
   
    
    
  <% end %>
  </div>
  </div>
</div>

