<%= content_for :title do %>
  Foodlog &ndash;<%= DateTime.now%>
<% end %>

<%# <h1>Entries</h1> %>

<table>
  <thead>
    <tr>
      <th>meal type</th>
      <th>Calories</th>
      <th>Proteins</th>
      <th>Carbohydrates</th>
      <th>Fats</th>
      <th colspan="3"></th>
    </tr>
</thead>

<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
    <p>
      <%= link_to "Show this entry", entry %>
    </p>
  <% end %>
</div>

<%= link_to "New entry", new_entry_path %>
